* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crete Round", serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100% !important;
  overflow: hidden;
}

header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 10%;
  padding-bottom: 12px;
  padding-top: 56px;
}

.logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
}

.Headline {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 131px;
  background: #1c1a19;
  flex-wrap: wrap;
  background-image: url("/SVG/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 112%;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 577px;
  flex-wrap: wrap;
}

.heading h1 {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;

  letter-spacing: 0.37px;

  color: #ff6b00;
}
.heading h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;

  color: #fff5e1;
}

.heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #ffffff;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 21px;
  justify-content: flex-start;
  padding-left: 0;
}

.works {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.RecentworkHeading {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.RecentworkHeading h1 {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;

  color: #1c1a19;
}
hr {
  width: 95%;
  border: 1px solid black;
}

.recentworkimg {
  max-width: 684px;
  margin-bottom: 24px;
}
.recentworkdescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
}
.recentworkdescription h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}
.recentworkdescription p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 124px;
  height: 48px;

  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;

  color: #ffffff;
}
.languages {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  justify-content: flex-start;
  padding-left: 0;
}
.languages li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
}
.workcards {
  display: grid;
  row-gap: 24px;
}
.cards {
  display: flex;
  flex-direction: column;
  background-image: url("SVG/cardBG.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 84px;

  gap: 12px;
}
.cardDiscription {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cards h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 138%;

  color: #ffffff;
}
.cards p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #ffffff;
}
.cardlist {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}
.cardlist li {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  box-sizing: border-box;
  color: white;
}
.cards button {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background: #1c1a19;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("SVG/about-me-mobile.svg");
  background-position: 100% 100%;

  background-repeat: no-repeat;
}

.aboutme {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
}

.aboutme h1 {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 122%;

  letter-spacing: 0.37px;

  color: #ff6b00;
}
.aboutme p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  color: #f4f5f7;
  flex-wrap: wrap;
}
.aboutme button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 161px;
  height: 48px;

  background: #ff6b00;

  text-align: center;
  letter-spacing: 0.03em;

  color: #fff;
}
.aboutme hr {
  margin-top: 180px;
  width: 370px;
  border: 1px solid white;
  width: 95%;
}

.skills {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  align-items: center;
  gap: 44px;
  padding-top: 136px;
  padding-bottom: 131px;
}

.skillslanguage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.skillHeading {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;

  color: #fff;
}

.skillHeadingImg {
  display: flex;
  gap: 5px;
  padding-right: 11%;
}
#framework {
  gap: 20px;
}

.skillList {
  display: flex;

  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 5px;
}
.skillList li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 194%;

  color: #fff;
}
.Contact {
  display: flex;
  flex-direction: column;
  gap: 73px;
  align-items: center;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 121px;
  border-bottom: 1px solid black;
}
.Contact h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;

  text-align: center;

  color: #172b4d;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 90%;
}
.contactForm input {
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100%;
}
textarea {
  padding: 10px;
  background: #fbf8f7;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.footer hr {
  border: 3px solid black;
  width: 30%;
  background: #0d151e;
  border-radius: 10px;
}
