* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crete Round", serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100% !important;
  overflow: hidden;
}

header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 10%;
  padding-bottom: 12px;
  padding-top: 28px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.Headline {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 131px;
  background: #1c1a19;
  flex-wrap: wrap;
  background-image: url("/SVG/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 112%;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 577px;
  flex-wrap: wrap;
}

.heading h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.heading h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff5e1;
}

.heading p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 21px;
  justify-content: flex-start;
  padding-left: 0;
}

.works {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.RecentworkHeading {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.RecentworkHeading h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #1c1a19;
}

hr {
  width: 95%;
  border: 1px solid black;
}

.recentworkimg {
  max-width: 684px;
  margin-bottom: 24px;
}

.recentworkdescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
}

.recentworkdescription h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.recentworkdescription p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  color: #fff;
}

.languages {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  justify-content: flex-start;
  padding-left: 0;
}

.languages li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
}

.workcards {
  display: grid;
  row-gap: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("SVG/cardBG.svg");
  background-repeat: no-repeat;
  background-size: 118%;
  padding-top: 84px;
  gap: 12px;
}

.cardDiscription {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
}

.cards p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.cardlist {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}

.cardlist li {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  box-sizing: border-box;
  color: white;
}

.cards button {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background: #1c1a19;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("SVG/about-me-mobile.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.aboutme {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
}

.aboutme h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 122%;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.aboutme p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  color: #f4f5f7;
  flex-wrap: wrap;
}

.aboutme button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.aboutme hr {
  margin-top: 180px;
  border: 1px solid white;
  width: 95%;
}

.skills {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  align-items: center;
  gap: 44px;
  padding-top: 136px;
  padding-bottom: 131px;
}

.skillslanguage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.skillHeading {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
}

.skillHeadingImg {
  display: flex;
  gap: 5px;
  padding-right: 11%;
}

#framework {
  gap: 20px;
}

.skillList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 5px;
}

.skillList li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 194%;
  color: #fff;
}

.Contact {
  display: flex;
  flex-direction: column;
  gap: 73px;
  align-items: center;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 121px;
  border-bottom: 1px solid black;
}

.Contact h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  text-align: center;
  color: #172b4d;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 90%;
}

.contactForm input {
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100%;
}

.contactForm button {
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 136px;
}

textarea {
  padding: 10px;
  background: #fbf8f7;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.footer hr {
  border: 3px solid black;
  width: 30%;
  background: #0d151e;
  border-radius: 10px;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: rgba(245, 88, 0, 1);
}

.btn:active {
  background: #e05304;
  color: white;
}

.menuList {
  display: none;
}

#w2 #w2dt,
#w3 #w3dt,
#w4 #w4dt,
#w5 #w5dt,
#w6 #w6dt {
  display: none;
}

.cards .btndt {
  display: none;
}

@media all and (min-width: 768px) {
  .menuIcon {
    display: none;
  }

  .menuList {
    display: flex;
    gap: 32px;
    list-style: none;
  }

  .menuList li {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 133%;
    color: #fff;
  }

  .menuList a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 133%;
    color: #fff;
    text-decoration: none;
  }

  .Headline {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 81px;
    padding-left: 31px;
    padding-top: 191px;
    background-image: url("SVG/BGheadlineDesktop.svg");
    background-repeat: no-repeat;
    background-position: 100% 72%;
    padding-bottom: 258px;
  }

  .socialmedia {
    flex-direction: column;
    padding-top: 5%;
    gap: 18px;
  }

  .heading h1 {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 113%;
    color: #f55800;
  }

  .heading h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 138%;
    color: #fff;
  }

  .heading p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #f4f5f7;
  }

  .RecentworkHeading {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 5%;
  }

  .RecentworkHeading h1 {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: #091e42;
    width: 57%;
  }

  .RecentworkHeading hr {
    width: 140%;
  }

  .recentWork {
    display: flex;
    gap: 10px;
  }

  .recentworkdescription {
    width: 40%;
    gap: 24px;
  }

  .recentworkimg {
    width: 52%;
  }

  .recentworkdescription h1 {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: #091e42;
  }

  .recentworkdescription p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #091e42;
  }

  .workcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 435px);
    row-gap: 37px;
    column-gap: 24px;
  }

  .aboutme {
    max-width: 566px;
  }

  .aboutme hr {
    width: 1156px;
  }

  .about {
    background-image: url("SVG/aboutmeBGDesktop.svg");
    background-repeat: no-repeat;
    background-position: 100% 20%;
  }

  .skills {
    flex-direction: row;
    justify-content: space-around;
  }

  .Contact {
    flex-direction: row;
  }

  .Contact h1 {
    max-width: 455px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    width: 100%;
    color: #262626;
    text-align: left;
    padding-bottom: 10%;
    padding-left: 5%;
  }

  .footer .socialmedia {
    flex-direction: row;
    padding-top: 1%;
  }

  #w1,
  #w2,
  #w3,
  #w4,
  #w5,
  #w6 {
    position: relative;
  }

  #w1button,
  #w4button,
  #w2button,
  #w5button {
    position: absolute;
    z-index: 3;
    margin-top: 50%;
    display: none;
  }

  #w3button,
  #w6button {
    position: absolute;
    z-index: 3;
    margin-top: 40%;
    display: none;
  }

  #w1:hover #w1button,
  #w2:hover #w2button,
  #w3:hover #w3button,
  #w4:hover #w4button,
  #w5:hover #w5button,
  #w6:hover #w6button {
    display: block;
  }

  #w1cardDiscription,
  #w2cardDiscription,
  #w3cardDiscription,
  #w4cardDiscription,
  #w5cardDiscription,
  #w6cardDiscription {
    position: absolute;
    z-index: 2;
  }

  #w1:hover #w1cardDiscription,
  #w2:hover #w2cardDiscription,
  #w3:hover #w3cardDiscription,
  #w4:hover #w4cardDiscription,
  #w5:hover #w5cardDiscription,
  #w6:hover #w6cardDiscription {
    display: none;
  }

  #w5,
  #w2 {
    /* display: flex;
    flex-direction: column; */
    background-image: url("SVG/bgw2.svg");
    background-repeat: no-repeat;
    padding-top: 50%;
  }

  #w4,
  #w1 {
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 84.18%
      )
      url("SVG/w1w4bg.png");

    /* background-image: url("SVG/w4bgdt.png"); */
    background-repeat: no-repeat;
    padding-top: 50%;
  }

  #w1:hover,
  #w4:hover,
  #w2:hover,
  #w5:hover {
    background-image: url("SVG/w1w4bg.png");

    /* background-image: url("SVG/w4bgdt.png"); */
    background-repeat: no-repeat;
    padding-top: 50%;
  }

  #w6,
  #w3 {
    /* display: flex;
    flex-direction: column; */
    background-image: url("SVG/w6bgdt.png");
    background-repeat: no-repeat;
    padding-top: 59%;
  }

  #w6:hover,
  #w3:hover {
    /* display: flex;
    flex-direction: column; */
    background-image: url("SVG/w1w4bg.png");
    background-repeat: no-repeat;
    padding-top: 59%;
  }

  #w2 #w2mb,
  #w3 #w3mb,
  #w4 #w4mb,
  #w5 #w5mb,
  #w6 #w6mb {
    display: none;
  }

  #w2 #w2dt,
  #w3 #w3dt,
  #w4 #w4dt,
  #w5 #w5dt,
  #w6 #w6dt {
    display: inline-block;
  }

  .cards .btn {
    display: none;
  }

  .footer hr {
    display: none;
  }

  .footer {
    padding-top: 0;
  }
}
